:root {
	--moves-border-style: 1px dashed #999;
}

.contentList {
	grid-column: 2;
}

.categoryParent {
	display: flex;
	flex-direction: column;
	gap: var(--padding-standard);
	scroll-margin-top: 160px;

	& .categoryContainer {
		display: flex;
		flex-direction: column;
		gap: var(--padding-standard);
	}

	& .category {
		font-size: var(--font-size-h1);
		font-family: 'trattatello';
		text-transform: uppercase;
		line-height: 100%;
	}

	.skill {
		padding-bottom: var(--padding-standard);
		border-bottom: var(--moves-border-style);
	}

	& .passivesContainer {
		flex-direction: column;
		padding-top: var(--padding-standard);
		margin-top: var(--padding-standard);
		border-top: var(--moves-border-style);
	}
}