:root {
	--menu-height: 45px;
	--title-size: 1.3rem;
	--banner-width: 150%;
	--banner-max-width: 800px;
	--hamburger-left: 100%;
	--hamburger-right: 21%;

	@media (min-width: 768px) {
		--menu-height: 60px;
		--title-size: 1.5em;
		--banner-width: 100%;
		--banner-max-width: 400px;
		--hamburger-right: 40px;
	}
}

.pageBanner {
	--active-colour: var(--colour-silver);

	position: fixed;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	height: var(--menu-height);
	width: 100%;
	text-align: center;
	font-size: var(--title-size);
	color: #fff;
	padding: 0 calc(1/2 * var(--padding-standard));
	box-sizing: border-box;
	background: var(--active-colour);
	border-bottom: 2px solid #ddd;
	cursor: pointer;
	transition: background-color 0.8s linear 0.3s, color 0.8s linear 0.3s;

	&:hover {
		background: color-mix(in srgb, var(--active-colour) 85%, #fff 15%);
	}

	& .pageTitle {
		display: flex;
		align-items: center;
		gap: var(--padding-standard);

		& .logo {
			height: 70%;
			filter: invert(100%);
			transition: all 0.8s linear 0.3s;
		}
	}
}

.banner-silver {
	--active-colour: rgb(var(--colour-silver));
	color: var(--colour-dark) !important;
	background: var(--active-colour) !important;

	& a {
		color: var(--colour-dark) !important;
	}

	& .logo {
		filter: invert(0%) !important;
	}

	& button.hamburger .notch {
		background-color: var(--colour-dark) !important;
	}
}

.banner-orange {
	--active-colour: rgb(var(--colour-orange));
}

.banner-cyan {
	--active-colour: rgb(var(--colour-cyan));
}

.banner-purple {
	--active-colour: rgb(var(--colour-purple));
}

.banner-scarlet {
	--active-colour: rgb(var(--colour-scarlet));
}

.banner-cobalt {
	--active-colour: rgb(var(--colour-cobalt));
}

.banner-mustard {
	--active-colour: rgb(var(--colour-mustard));
}

.banner-green {
	--active-colour: rgb(var(--colour-green));
}

nav.main {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: auto;
	padding: var(--padding-standard) calc(2 * var(--padding-standard)) calc(2 * var(--padding-standard));
	transform: translateY(45px);
	background-image: url('../public/images/bg.paper.texture.webp');
	border-bottom-right-radius: var(--radius-standard);
	border-bottom-left-radius: var(--radius-standard);
	box-shadow: inset -8px -8px 8px rgba(0,0, 0, 0.2);
	pointer-events: none;
	opacity: 0;

	&.open {
		transform: translateY(61px);
		opacity: 1;
		pointer-events: all;
	}

	& a {
		padding: calc(0.5 * var(--padding-standard)) 0;
		text-decoration: none;
		color: black;
		font-size: 1.4em;

		&:hover {
			text-decoration: underline;
		}
	}
}

nav.secondary {
	display: flex;
	align-items: center;
	gap: calc(0.5 * var(--padding-standard));
	height: calc(0.75 * var(--menu-height));
	padding-top: var(--menu-height);
	padding-left: 53px;
	background-color: var(--active-colour);
	transition: background-color 0.5s linear 0.2s;

	&:empty {
		height: 0;
		visibility: hidden;
	}

	a {
		font-size: calc(1.2 * var(--font-size-standard));
		text-decoration: none;
		color: #fff;
		padding: calc(0.75 * var(--padding-standard));
		border-radius: var(--radius-standard);

		&:hover {
			text-decoration: underline;
		}
	}
}

.outerTapper {
	position: absolute;
	left: 0;
	top: -100000px;
	width: 100000px;
	height: 100000px;
	background-color: transparent;
	pointer-events: none;

	&.open {
		top: 0;
		pointer-events: all;
	}
}

button.hamburger {
	width: 40px;
	height: 100%;
	margin: auto;
	border: none;
	background-color: transparent;
	cursor: pointer;

	&:hover {
		& .notch {
			transform: translateY(-2px);
		}
	}

	&.open {
		opacity: 0.1;
	}

	& .notch {
		display: block;
		width: 100%;
		height: 4px;
		margin-bottom: 3px;
		border-radius: 4px;
		background-color: #fff;

		&:nth-child(1) {
			transition: all 0.2s linear;
		}
		&:nth-child(2) {
			transition: all 0.2s linear 0.1s;
		}
		&:nth-child(3) {
			transition: all 0.2s linear 0.2s;
		}
	}
}