:root {
	--control-height: 30px;
	--control-padding-vert: 5px;
	--control-padding-horz: 5px;
}

.controlBarContainer {
	grid-column: 1/4;

	position: sticky;
	z-index: 10;
	top: var(--banner-height);
	width: 100%;
	padding: var(--padding-standard) 0;
	margin-top: calc(-1 * var(--padding-standard));
	margin-bottom: calc(2 * var(--padding-standard));
	background-image: url('/images/bg.paper.texture.webp');

	.controlBar {
		flex-basis: 100%;

		display: flex;
		overflow-x: auto;
		gap: var(--padding-standard);
		max-width: 100%;
		box-sizing: border-box;
		padding: var(--padding-standard);
		clip-path: var(--shape-bevelled);

		&:empty {
			display: none;
		}

		&.purple {
			background-color: rgba(var(--colour-purple), 0.2);
		}

		&.mustard {
			background-color: rgba(var(--colour-mustard), 0.3);
		}

		&.green {
			background-color: rgba(var(--colour-green), 0.3);
		}

		&.orange {
			background-color: rgba(var(--colour-orange), 0.3);
		}

		&.cyan {
			background-color: rgba(var(--colour-cyan), 0.3);
		}

		&.cobalt {
			background-color: rgba(var(--colour-cobalt), 0.3);
		}

		&.scarlet {
			background-color: rgba(var(--colour-scarlet), 0.3);
		}

		&.grey {
			background-color: rgba(var(--colour-dark), 0.3);
		}
	}

	button,
	select,
	input {
		height: 32px;
		line-height: 32px;
	}
}