.searchControlContainer {
	display: flex;
	
	height: var(--control-height);

	& .searchControl {
		height: var(--control-height);
		padding: var(--control-padding-vert) var(--control-padding-horz);
		box-sizing: border-box;
	}
}