.sectionBlock {

	&:empty {
		display: none;
	}

	&.open {}

	&.closed {
		h1 {
			opacity: 0.6;
		}

		& .sectionContent {
			display: none;
		}

		.title .icoOpenState {
			transform: scaleY(-1);
		}
	}

	h1 {
		margin-bottom: var(--padding-1-4);
	}

	.title {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		padding: calc(0.5 * var(--padding-standard)) 0;
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);

		img {
			height: 25px;
			vertical-align: middle;
		}

		.icoOpenState {
			width: 20px;
		}
	}

	&.plain {}

	&.default {
		.sectionContent {
			padding: calc(0.5 * var(--padding-standard));
			border: var(--border-dashed-subtle);
			border-radius: var(--radius-standard);
		}
	}
}