.equipmentList {
	display: flex;
	flex-direction: column;
	gap: calc(0.8 * var(--padding-standard));
}

.header {
	font-family: 'Trattatello';
	text-transform: uppercase;
	font-size: var(--font-size-h1);
	line-height: 100%;
	border-bottom: 1px solid #aaa;
	padding-bottom: calc(0.75 * var(--padding-standard));
	margin-bottom: var(--padding-standard);
}

.equipmentList {
	.item {
		& .itemHead {
			display: flex;
			justify-content: space-between;
			font-weight: bold;

			& .name, & .cost {
				font-family: trattatello;
				text-transform: uppercase;
				font-size: 1.1rem;
				color: #000;
			}
		}

		& .description {
			max-width: 95%;
			/*font-size: 0.8rem;*/
		}
	}
}