.specimenLayout {
	--grid-auto-columns: 1fr;

	@media (min-width: 600px) {
		--grid-auto-columns: 1fr 1fr;
	}

	@media (min-width: 1000px) {
		--grid-auto-columns: minmax(200px, max-content) minmax(180px, auto);
	}

	position: relative;
	display: grid;
	grid-auto-columns: var(--grid-auto-columns);
	grid-auto-rows: min-content;
	gap: calc(0.5 * var(--padding-standard));
	padding: calc(0.75 * var(--padding-standard));
	background-color: #fff;
	border-radius: var(--radius-standard);
	border: var(--border-dashed-subtle);

	&[data-viewcontext="companion"],
	&[data-viewcontext="menagerie"] {
		[data-combatmodeonly] {
			display: none !important;
		}
	}

	&[data-viewcontext="companion"] {
		[data-menageriemodeonly],
		[data-combatmodeonly] {
			display: none !important;
		}
	}

	&[data-viewcontext="combat"] {
		[data-menageriemodeonly],
		[data-companionmodeonly] {
			display: none !important;
		}
	}

	&[data-viewmode="min"] {
		[data-maxmodeonly] {
			display: none;
		}
	}

	&[data-turntaken="true"][data-viewcontext="combat"] {
		opacity: 0.5;
	}

	&.minimalMode {
		.moves {
			display: none;
		}

		.core {
			grid-row: 4;
		}
		.monsterStatuses {
			grid-row: 5;
		}

		.core .attributes .column {
			display: flex;
			gap: 10px;

			.attribute { gap: 0px; }
		}

		.monsterStatuses {
			grid-template-columns: 68px auto 50px auto 70px auto;
			gap: 5px;
		}
	}

	&.turnTaken {
		opacity: 0.35;
	}

	h1,
	h2,
	h3,
	.fonted {
		font-family: 'trattatello';
		text-transform: uppercase;
		line-height: 22px;
		margin: 0;
	}

	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1.25rem;
	}

	h3 {
		font-size: 1rem;
	}

	.paddedInnerSection {
		padding: calc(0.75 * var(--padding-standard));
		border-radius: var(--radius-standard);
		background-color: rgba(var(--colour-cream), 0.7);

		ul,
		li {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		button {
			background-color: rgba(255, 255, 255, 0.75);
		}
	}

	& .subtleInput {
		height: 26px;
		line-height: 26px;
		font-size: 0.8rem;
	}

	& .monsterDesc {
		position: absolute;
		z-index: 100;
		grid-row: 1;
		grid-column: 1 / 3;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		border-radius: var(--radius-standard);
		background-color: rgb(var(--colour-cream));
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

		display: none;
		&.on {
			display: block;
		}
	}

	.metaBar {
		--grid-row: auto;

		@media (min-width: 575px) {
			--grid-row: 1;
		}

		grid-row: var(--grid-row);
		grid-column: 1 / 3;

		display: flex;
		flex-direction: column;
		gap: 5px;

		.title {
			font-size: 1.5rem;

			span {
				cursor: pointer;

				&:hover { opacity: 0.6; }
			}
		}

		.subtitle {
			display: flex;
			gap: 10px;

			color: #999;
		}

		.identifier {
			max-width: 80px;

			input {
				max-width: 100%;
			}
		}

		.trackingBar {
			display: flex;
			flex-direction: column;
			gap: 4px;
			max-width: 350px;
			margin-top: var(--padding-standard);
			padding-top: var(--padding-standard);
			border-top: 1px dashed #ddd;
	
			h2 {
				font-size: 1.2rem;
			}
	
			button {
				width: 40px;
				height: 24px;
				line-height: 0px;
				opacity: 0.75;
			}
		}
	}

	.imageContainer {
		--grid-column: 1 / 3;
		--max-width: 100%;
		--max-height: 250px;
		--aspect-ratio: auto;

		@media (min-width: 575px) {
			--grid-column: 2;
			--max-width: 120px;
			--max-height: 100%;
			--aspect-ratio: 1 / 1;
		}

		grid-column: var(--grid-column);
		grid-row: 1 / 3;
		justify-self: flex-end;

		width: var(--max-width);
		max-height: var(--max-height);
		aspect-ratio: var(--aspect-ratio);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 35%;
			border-radius: var(--radius-standard);
		}

		&.imageLarge {
			position: absolute;
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 100%;
			height: 100%;
			min-height: 500px;
			grid-row: 1;
			grid-column: 1 / 3;
		}
	}

	.verve {
		.verveValues {
			display: flex;
			gap: calc(0.5 * var(--padding-standard));
			align-items: center;
			line-height: 100%;
		}

		.verveTitle {
			font-size: 1.1rem;
		}

		&.depleted {
			box-shadow: 0 0 10px rgba(220, 20, 0, 0.4);
			background-color: rgba(220, 20, 0, 0.25);
		}
	}

	.core {
		grid-column: 1 / 3;

		display: flex;
		flex-direction: row;
		gap: var(--padding-half);
		align-content: flex-start;
		flex-wrap: wrap;

		.attributes {
			display: flex;
			gap: var(--padding-standard);
			flex-wrap: wrap;
			align-items: flex-start;
			align-content: flex-start;
			min-width: 225px;

			.attribute {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				line-height: 20px;

				.attributeName {
					width: 22px;
					font-weight: bold;
				}
			}
		}

		.propertyList {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: var(--padding-1-4);
			margin-top: 3px;

			font-family: 'trattatello', sans-serif;
			text-transform: uppercase;
			font-size: 1.1rem;
			line-height: 100%;

			& > div {
				padding: 0 var(--padding-standard) 2px 0;
			}
		}
	}

	.statuses {
		grid-column: 1 / 3;
		
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: var(--padding-1-4);
		justify-content: space-between;

		.status {
			display: flex;
			gap: var(--padding-1-4);

			.turnsRemaining,
			.turnsRemaining input {
				width: 42px;
				min-width: 42px;
				padding-left: 2px;
				padding-right: 2px;
			}
		}

		textarea,
		input {
			border: none;
			width: 100%;
			min-width: 190px;
			min-height: 40px;
			background-color: rgba(255, 255, 255, 0.6);
		}
	}

	.moves {
		grid-column: 1 / 3;

		position: relative;
		display: flex;
		flex-direction: column;
		gap: calc(0.5 * var(--padding-standard));

		.resistancesAndWeaknesses {
			display: flex;
			gap: calc(0.5 * var(--padding-standard));
		}
	}

	.combatOptions {
		grid-column: 1 / 3;

		display: flex;
		gap: var(--padding-1-4);
		justify-content: space-between;
	}

	.smallButton {
		height: 26px;
		line-height: 20px;
		padding: 0 8px;
		font-size: 10px;
	}
}