.move {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--padding-standard);

	&:not(:last-child) {
		border-bottom: var(--border-dashed-subtle);
	}

	&[data-mode="combat"][data-type="Expertise"][data-purchases="false"],
	&[data-mode="combat"][data-type="Passive"][data-purchases="false"] {
		display: none;
	}

	&.open {}

	&.closed {
		& > .description, & > .diceRoll {
			display: none;
		}
	}

	&.mode-default {
	}

	&.mode-display {
		& .diceRoll { display: none; }
	}

	& .titleBlock {
		grid-column: 1;
		grid-row: 1;

		display: flex;
		gap: calc(0.5 * var(--padding-standard));
		justify-content: space-between;
		align-items: center;
		font-size: 1.25rem;

		& .title {
			display: flex;
			gap: var(--padding-half);
			cursor: pointer;
			align-items: center;
			white-space: nowrap;
			
			&:hover {
				text-decoration: underline;
			}

			.icon {
				height: 20px;
			}

			.purchasedPointsLabel {
				color: #888;
			}
		}
	}

	& .diceRoll {
		grid-column: 2;
		grid-row: 1/3;

		display: flex;
		align-items: center;
		gap: calc(0.5 * var(--padding-standard));
		justify-content: center;
		width: 80px;
		height: 30px;

		img {
			height: 20px;
		}
	}

	& .description {
		grid-column: 1;
		grid-row: 2;

		margin-top: var(--padding-half);
		padding-bottom: calc(0.5 * var(--padding-standard));
	}

	.expertises {
		grid-column: 1;
		grid-row: 3;

		margin-top: calc(0.5 * var(--padding-standard));
		padding-left: var(--padding-standard);

		> div {
			padding: var(--padding-half) 0;
			margin-bottom: 0;
		}
	}
}

.expertiseUpcoming {
	color: #999;
}