.move {
	display: flex;
	flex-direction: column;
	gap: var(--padding-half);
	padding: var(--padding-3-4) 0;

	&:not(:last-child) {
		border-bottom: var(--border-dashed-subtle);
	}

	&.open {}

	&.closed {
		& .description, & .diceRoll, & .expertises {
			display: none;
		}
	}

	&.mode-default {
	}

	&.mode-display {
		& .diceRoll { display: none; }
	}

	& .titleBlock {
		grid-column: 1;
		grid-row: 1;

		display: flex;
		gap: calc(0.5 * var(--padding-standard));
		justify-content: space-between;
		font-size: 1.25rem;

		& .title {
			display: flex;
			gap: var(--padding-half);
			cursor: pointer;
			align-items: center;
			white-space: nowrap;
			
			&:hover {
				text-decoration: underline;
			}

			.icon {
				height: 20px;
			}
		}
	}

	& .diceRoll {
		grid-column: 2;
		grid-row: 1/3;

		display: flex;
		align-items: center;
		gap: calc(0.5 * var(--padding-standard));
		justify-content: center;
		width: 80px;
		height: 30px;

		img {
			height: 20px;
		}
	}

	& .description {
		grid-column: 1;
		grid-row: 2;

		padding-bottom: calc(0.5 * var(--padding-standard));
	}

	.expertises {
		grid-column: 1;
		grid-row: 3;

		margin-top: calc(0.5 * var(--padding-standard));
	
		.expertises {
			display: flex;
			flex-direction: column;
			gap: calc(0.5 * var(--padding-standard));
			padding: 0 var(--padding-standard);
			background-color: rgba(0, 0, 0, 0.075);
			border-bottom: var(--border-dashed-strong);

			&:empty { display: none; }
		}
	}
}