.move {
	--width: 100%;
	--flex-basis: 100%;
	--flex-wrap: wrap;

	@media (min-width: 768px) {
		--width: min(200px, 14vw);
		--flex-basis: auto;
		--flex-wrap: none;
	}

	display: flex;
	flex-direction: column;

	&:not(:last-child) {
		border-bottom: 1px dashed #aaa;
		padding-bottom: calc(0.5 * var(--padding-standard));
	}

	&.closed {
		& .description {
			/*max-height: 22px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis; */
			display: none;
		}
	}

	&.mode-default {
	}

	&.mode-display {
		& .pointTrack, & .diceRoll { display: none; }
	}

	& .titleBlock {
		display: flex;
		flex-wrap: wrap;
		gap: calc(0.5 * var(--padding-standard));

		& .title {
			cursor: pointer;

			& .titleDetails {
				font-size: 0.9em;
				opacity: 0.8;
			}
			
			&:hover {
				text-decoration: underline;
			}
		}
	}

	& .titleBlock {
		justify-content: space-between;
		font-family: trattatello, sans-serif;
		text-transform: uppercase;
		font-size: 1.25rem;

		& .diceRoll {
			width: 34px;
			height: 30px;
		}
	}

	& .description {
		padding-bottom: calc(0.5 * var(--padding-standard));
	}
}

.upgrades {
	color: #777;
	font-style: italic;
}

.mode-default {
}

.mode-display {
	& .pointTrack { display: none; }
}

.triangle {
	position: absolute;
	width: 0;
	height: 0;
	margin: 13px 0 0 13px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;

	&.open {
		border-top: 9px solid #888; /* Height is ~√3/2 * base */
	}

	&.closed {
		border-bottom: 9px solid #ccc; /* Height is ~√3/2 * base */
	}
  }