.skillBlock {
	display: flex;
	flex-direction: column;
	gap: calc(1 * var(--padding-standard));

	&[data-open="false"] {
		& .movesList,
		& .description,
		& div.passivesContainer { display: none !important; } 
	}

	.heading {
		cursor: pointer;

		.title {
			--flex-direction: column;
			--align-items: flex-start;
			--gap: var(--padding-half);

			@media (min-width: 1000px) {
				--flex-direction: row;
				--align-items: center;
			}

			display: flex;
			flex-direction: var(--flex-direction);
			gap: var(--gap);
			align-items: var(--align-items);
			font-size: 1.4rem;

			.name {
				display: flex;
				white-space: nowrap;
			}
		}

		.description {
			margin-top: calc(0.5 * var(--padding-standard));
		}
	}

	.movesList {
		display: flex;
		flex-direction: column;
	}

	& .passivesContainer {
		padding-top: var(--padding-half);
		border-top: var(--moves-border-style);

		.passivesList {
			width: 100%;
		}
	}
}