.characterSheetPageContainer {
	width: 100%;
	max-width: var(--max-width-character-sheet-page);
	margin: auto;

	/* REUSABLE STYLES */
	.block {
		padding: var(--padding-standard);
		border: var(--border-dashed-subtle);
		border-radius: var(--radius-standard);
		background-color: rgb(var(--colour-cream-light));

		h2 {
			display: flex;
			white-space: nowrap;
			gap: var(--padding-half);
		}
	}

	.gridLayout {
		--grid-template-columns: 1fr;
		--grid-template-columns-auto-left: 1fr;

		@media (min-width: 768px) {
			--grid-template-columns: 1fr 1fr;
			--grid-template-columns-auto-left: auto 1fr;
		}

		display: grid;
		grid-template-columns: var(--grid-template-columns);
		gap: var(--padding-half);

		&.autoGridLeft {
			grid-template-columns: var(--grid-template-columns-auto-left);
		}

		.fullRowBlock {
			--grid-template-columns: 1fr;
			--grid-column: 1;

			@media (min-width: 768px) {
				--grid-template-columns: 30% 1fr;
				--grid-column: 1 / 3;
			}

			grid-row: 1;
			grid-column: var(--grid-column);
		}
	}

	&[data-purchasemode="buy"] {
		[data-purchasepointgroup]:not([data-atmax="true"]) {
			box-shadow: 0 0 12px rgba(220,160,0, .85);
		}
	}
	&[data-purchasemode="sell"] {
		[data-purchasepointgroup]:not([data-atmin="true"]) {
			box-shadow: 0 0 12px rgba(240,20,0, .85);
		}
	}

	&[data-searching="true"] {
		section:first-of-type,
		[data-name="Wellness"],
		[data-name="Inventory"],
		[data-name="Notes"] {
			display: none !important;
		}
	}
	
	/* SPECIFIC STYLES */
	[data-field="verve"],
	[data-field="mana"],
	[data-field="psi"] {
		display: flex;
		flex-direction: column;
		gap: var(--padding-standard);

		h2 { margin-bottom: 0; }

		.resourceFields {
			display: flex;
			gap: var(--padding-half);

			& > * { max-width: 100px; }

			.overResourced,
			.overResourced input {
				color: rgb(var(--colour-scarlet));
			}
		}

		.maxLabel {
			font-size: 0.9rem;
			font-style: italic;
			color: #999;
		}
	}

	.sections {
		/* VITAE SECTION */
		.sectionVitae {
			--grid-template-columns: 1fr;

			@media (min-width: 768px) {
				--grid-template-columns: min(300px, 32%) auto;	
			}

			display: grid;
			grid-template-columns: var(--grid-template-columns);
			gap: var(--padding-half);

			.metaData {
				display: flex;
				flex-direction: column;
				gap: var(--padding-standard);
			}

			.labelField {
				--flex-direction: column;
				--align-items: flex-start;
				--label-width: 100px;
				--second-label-width: 200px;

				@media (min-width: 500px) {
					--flex-direction: row;
					--align-items: center;
					--label-width: 70px;
					--second-label-width: 100px
				}

				display: flex;
				flex-direction: var(--flex-direction);
				align-items: var(--align-items);
				gap: calc(0.5 * var(--padding-standard));
				width: 100%;

				label {
					width: var(--label-width);
					min-width: 70px;
				}

				label:nth-of-type(2) {
					width: var(--second-label-width);
				}
			}

			& [data-field="profilephoto"] {
				grid-column: 1;
				grid-row: 1;

				position: relative;
				min-height: 300px;
				border-radius: var(--radius-standard);
				overflow: hidden;

				&.selectModetrue {
					overflow: visible;
				}

				> img {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 50%;
				}

				.profileSelector {
					--grid-template-columns: 1fr 1fr;

					@media (min-width: 600px) {
						--grid-template-columns: 1fr 1fr 1fr;
					}

					position: absolute;
					display: grid;
					grid-template-columns: var(--grid-template-columns);
					width: 80vw;
					height: 50vh;
					overflow: scroll;
					border-radius: var(--radius-standard);

					img {
						width: 100%;
					}
				}
			}

			[data-field="sessions"] {
				label:last-child {
					color: #888;
				}
			}

			[data-field="points"],
			[data-field="attributes"] {
				display: flex;
				gap: calc(0.5 * var(--padding-standard));
			}

			[data-field="stats"] {
				flex-wrap: wrap;

				.statsFlex {
					--flex-direction: column;
					--grid-template-columns: 1fr 1fr;

					@media (min-width: 500px) {
						--flex-direction: row;
						--grid-template-columns: 1fr 1fr 1fr;
					}

					@media (min-width: 1300px) {
						--grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
					}

					display: flex;
					flex-direction: var(--flex-direction);
					gap: calc(0.5 * var(--padding-standard));
					width: 100%;
				}

				.statList {
					display: grid;
					grid-template-columns: var(--grid-template-columns);
					flex-wrap: wrap;
					gap: calc(0.5 * var(--padding-standard));

					.stat {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: calc(0.5 * var(--padding-standard));
						padding: calc(0.5 * var(--padding-standard));
						border-radius: var(--radius-standard);
						background-color: rgba(var(--colour-cream), 0.3);

						img {
							height: 25px;
						}
					}
				}

				.confirmButton {
					flex-basis: 100%;
				}
			}

			[data-field="racial_bonuses"],
			[data-field="known_languages"] {
				display: flex;
				flex-direction: column;
				box-sizing: border-box;

				label {
					display: flex;
					white-space: nowrap;
					gap: var(--padding-half);
					width: 100%;
				}
			}
		}

		.sectionWellness {
			display: grid;
			gap: calc(0.5 * var(--padding-standard));
			background-color: rgba(var(--colour-scarlet), 0.15);

			[data-field="verve"],
			[data-field="statuses"],
			[data-field="item_belt"] {
				display: flex;
				flex-wrap: wrap;
				gap: calc(0.5 * var(--padding-standard));
				align-content: flex-start;

				h2 {
					margin-bottom: 0;
				}
			}

			[data-field="statuses"] {
				flex-direction: column;

				.status {
					position: relative;
					display: flex;
					gap: var(--padding-half);
					width: 100%;

					textarea {
						width: 100%;
						height: 70px;
					}

					button {
						width: 30px;

						@media (max-width: 600px) {
							position: absolute;
							right: 0;
							margin: calc(-1 * var(--padding-half)) -6px 0 0;
						}
					}
				}
			}

			[data-field="item_belt"] {
				h2 {
					flex-basis: 100%;
				}

				.beltValues {
					display: flex;
					gap: var(--padding-half);
				}
			}
			
			@media (min-width: 768px) {
				[data-field="verve"] {
					grid-column: 1;
					grid-row: 1;
				}

				[data-field="item_belt"] {
					grid-column: 2;
					grid-row: 1;
				}

				[data-field="statuses"] {
					grid-column: 1 / 3;
					grid-row: 2;
				}

				[data-field="skill_preparedness"] {
					grid-column: 1/3;
					grid-row: 3;
				}
			}
		}
		
		.sectionCombat {
			display: flex;
			flex-direction: column;
			gap: var(--padding-half);
			background-color: rgba(var(--colour-dark), 0.15);

			[data-field="resistances"] {
				display: flex;
				flex-direction: column;

				.addResistance {
					display: flex;
					gap: var(--padding-half);
					align-items: flex-end;
					margin-bottom: var(--padding-standard);
				}

				.resistanceList {
					.activeResistance {
						display: flex;
						gap: var(--padding-half);
						align-items: flex-end;
					}
				}
			}

			.combatMetaLayout {
				.weaponFields,
				.armourFields {
					display: grid;
					gap: var(--padding-half);
				}

				.weaponFields {
					grid-template-columns: 115px 75px 50px 50px auto;
				}

				.armourFields {
					grid-template-columns: 115px 75px auto;
				}
			}

			h2 img {
				height: 20px;
				vertical-align: middle;
				margin-right: 6px;
			}

			.combatSkillsLayout {
				grid-row: 2;
				grid-column: 1 / 3;
			}
		}

		.sectionGeneral {
			background-color: rgba(var(--colour-mustard), 0.15);
		}

		.sectionSubterfuge {
			background-color: rgba(var(--colour-dark), 0.15);
		}

		.sectionCrafting {
			background-color: rgba(var(--colour-scarlet), 0.15);
		}

		.sectionBeastMastery {
			background-color: rgba(var(--colour-green), 0.15);
		}

		.sectionInnerPower {
			background-color: rgba(var(--colour-cobalt), 0.15);
		}

		.sectionMagic {
			background-color: rgba(var(--colour-scarlet), 0.15);

			[data-field="magic-meta"] {
				display: grid;
				grid-template-columns: var(--grid-template-columns);
				gap: var(--padding-half);
			}
		}

		.sectionPsionics {
			background-color: rgba(var(--colour-purple), 0.15);
		}

		.sectionInventory {
			--full-columns: 1;

			@media (min-width: 768px) {
				--full-columns: 1 / 3;
			}

			.standards,
			.consumables {
				grid-column: var(--full-columns);
			}

			.block {
				display: flex;
				flex-direction: column;
				gap: var(--padding-half);
			}
		}

		.sectionNotes {
			--grid-template-columns: 1fr;

			@media (min-width: 768px) {
				--grid-template-columns: 1fr 1fr 1fr;
			}

			display: grid;
			grid-template-columns: var(--grid-template-columns);
			gap: var(--padding-half);

			textarea {
				width: 100%;
				min-height: 420px;
			}
		}
	}

}