.characterSheetPageContainer {
	width: 100%;
	max-width: var(--max-width-character-sheet-page);
	margin: auto;

	/* REUSABLE STYLES */
	h2 img {
		height: 20px;
		vertical-align: middle;
		margin-right: 6px;
	}

	.gridLayout {
		--grid-template-columns: 1fr;
		--grid-template-columns-auto-left: 1fr;
		--grid-template-columns-auto-right: 1fr;

		@media (min-width: 768px) {
			--grid-template-columns: 1fr 1fr;
			--grid-template-columns-auto-left: auto 1fr;
			--grid-template-columns-auto-right: 1fr auto;
		}

		display: grid;
		grid-template-columns: var(--grid-template-columns);
		gap: var(--padding-half);

		&.autoGridLeft {
			grid-template-columns: var(--grid-template-columns-auto-left);
		}

		&.autoGridRight {
			grid-template-columns: var(--grid-template-columns-auto-right);
		}
	}

	.flexLayout {
		display: flex;
		gap: var(--padding-half);

		&.autoFlexColumn {
			flex-direction: column;
		}
	}

	&[data-purchasemode="buy"] {
		[data-purchasepointgroup]:not([data-atmax="true"]) {
			box-shadow: 0 0 12px rgba(220,160,0, .85);
		}
	}
	&[data-purchasemode="sell"] {
		[data-purchasepointgroup]:not([data-atmin="true"]) {
			box-shadow: 0 0 12px rgba(240,20,0, .85);
		}
	}

	&[data-searching="true"] {
		section:first-of-type,
		[data-name="Wellness"],
		[data-name="Inventory"],
		[data-name="Notes"] {
			display: none !important;
		}
	}

	.sections {
		/* VITAE SECTION */
		.sectionVitae {
			--grid-template-columns: 1fr;

			@media (min-width: 768px) {
				--grid-template-columns: min(300px, 32%) auto;	
			}

			display: grid;
			grid-template-columns: var(--grid-template-columns);
			gap: var(--padding-half);

			.labelField {
				--flex-direction: column;
				--align-items: flex-start;
				--label-width: 100px;
				--second-label-width: 200px;

				@media (min-width: 500px) {
					--flex-direction: row;
					--align-items: center;
					--label-width: 70px;
					--second-label-width: 100px
				}

				display: flex;
				flex-direction: var(--flex-direction);
				align-items: var(--align-items);
				gap: var(--padding-1-4);
				width: 100%;

				label {
					width: var(--label-width);
					min-width: 70px;
				}

				label:nth-of-type(2) {
					width: var(--second-label-width);
				}
			}

			& [data-field="profilephoto"] {
				grid-column: 1;
				grid-row: 1;

				position: relative;
				min-height: 300px;
				border-radius: var(--radius-standard);
				overflow: hidden;

				&.selectModetrue {
					overflow: visible;
				}

				> img {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 50% 25%;
				}

				.profileSelector {
					--grid-template-columns: 1fr 1fr;

					@media (min-width: 600px) {
						--grid-template-columns: 1fr 1fr 1fr;
					}

					position: absolute;
					display: grid;
					grid-template-columns: var(--grid-template-columns);
					width: 80vw;
					height: 50vh;
					overflow: scroll;
					border-radius: var(--radius-standard);

					img {
						width: 100%;
					}
				}
			}

			[data-field="sessions"] {
				label:last-child {
					color: #888;
				}
			}

			[data-field="points"],
			[data-field="attributes"] {
				display: flex;
				gap: calc(0.5 * var(--padding-standard));
			}

			[data-field="stats"] {
				flex-wrap: wrap;

				.statsFlex {
					--flex-direction: column;
					--grid-template-columns: 1fr 1fr;

					@media (min-width: 500px) {
						--flex-direction: row;
						--grid-template-columns: 1fr 1fr 1fr;
					}

					@media (min-width: 1300px) {
						--grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
					}

					display: flex;
					flex-direction: var(--flex-direction);
					gap: calc(0.5 * var(--padding-half));
					width: 100%;
				}

				.statList {
					display: grid;
					grid-template-columns: var(--grid-template-columns);
					flex-wrap: wrap;
					gap: var(--padding-half);

					.stat {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: var(--padding-half);
						padding: var(--padding-half);
						border-radius: var(--radius-standard);
						background-color: rgba(var(--colour-cream), 0.3);

						img {
							height: 25px;
						}
					}
				}

				.confirmButton {
					flex-basis: 100%;
				}
			}
		}

		.sectionWellness {
			background-color: rgba(var(--colour-scarlet), 0.15);

			.itemBeltField,
			.armoursField,
			.skillsField {
				grid-column: 1 / -1;
			}

			.statusesField {
				grid-column: 1 / -1;
			}
		}
		
		.sectionCombat {
			background-color: rgba(var(--colour-dark), 0.15);

			[data-field="combat_skills"] {
				grid-row: auto;
				grid-column: 1;

				@media (min-width: 768px) {
					grid-row: 2;
					grid-column: 1 / 3;
				}
			}
		}

		.sectionGeneral {
			background-color: rgba(var(--colour-mustard), 0.15);
		}

		.sectionSubterfuge {
			background-color: rgba(var(--colour-dark), 0.15);
		}

		.sectionCrafting {
			background-color: rgba(var(--colour-scarlet), 0.15);
		}

		.sectionBeastMastery {
			background-color: rgba(var(--colour-green), 0.15);

			.skillAndMovesLayout {
				display: flex;
				flex-direction: column;
				gap: var(--padding-1-4);
			}
		}

		.sectionInnerPower {
			background-color: rgba(var(--colour-cobalt), 0.15);
		}

		.sectionMagic {
			background-color: rgba(var(--colour-scarlet), 0.15);

			.spellsField {
				grid-column: 1 / -1;
			}
		}

		.sectionPsionics {
			background-color: rgba(var(--colour-purple), 0.15);
		}

		.sectionInventory {
			--full-columns: 1;

			@media (min-width: 768px) {
				--full-columns: 1 / 3;
			}

			.standardsField,
			.consumablesField {
				grid-column: var(--full-columns);
			}
		}

		.sectionNotes {
			--grid-template-columns: 1fr;

			@media (min-width: 768px) {
				--grid-template-columns: 1fr 1fr 1fr;
			}

			display: grid;
			grid-template-columns: var(--grid-template-columns);
			gap: var(--padding-half);

			textarea {
				width: 100%;
				min-height: 420px;
			}
		}
	}

}

/* Combat Mode Trial */
/* Abandoned: not enough control */
/*section > h1,
.standards,
[data-name="Notes"],
.sectionVitaeOuter,
[data-type="Skill"][data-purchases="false"],
[data-type="Expertise"][data-purchases="false"],
[data-type="Passive"][data-purchases="false"] {
	display: none !important;
}

section:after {
	height: 10px;
	margin: 0px !important;
	background-image: none !important;
}*/