.characterSheetPageContainer {
	width: 100%;
	max-width: var(--max-width-character-sheet-page);
	margin: auto;

	/* REUSABLE STYLES */
	.block {
		padding: var(--padding-standard);
		border: var(--border-dashed-subtle);
		border-radius: var(--radius-standard);
		background-color: rgb(var(--colour-cream-light));

		h2 {
			display: flex;
			white-space: nowrap;
			gap: var(--padding-half);
		}
	}

	.gridLayout {
		--grid-template-columns: 1fr;
		--grid-template-columns-auto-left: 1fr;

		@media (min-width: 850px) {
			--grid-template-columns: 1fr 1fr;
			--grid-template-columns-auto-left: auto 1fr;
		}

		display: grid;
		grid-template-columns: var(--grid-template-columns);
		gap: var(--padding-half);

		&.autoGridLeft {
			grid-template-columns: var(--grid-template-columns-auto-left);
		}
	}
	
	/* SPECIFIC STYLES */
	.sections {
		section:first-child {
			margin-top: calc(2 * var(--padding-standard));
		}

		/* VITAE SECTION */
		.sectionVitae {
			--grid-template-columns: 1fr;

			@media (min-width: 800px) {
				--grid-template-columns: min(300px, 32%) auto;	
			}

			display: grid;
			grid-template-columns: var(--grid-template-columns);
			gap: var(--padding-half);

			.metaData {
				display: flex;
				flex-direction: column;
				gap: var(--padding-half);
			}

			.labelField {
				display: flex;
				gap: calc(0.5 * var(--padding-standard));
				width: 100%;

				label {
					width: 70px;
					min-width: 70px;
				}

				label:nth-of-type(2) {
					width: 100px;
				}
			}

			& [data-field="name"],
			& [data-field="sessions"],
			& [data-field="points"] .labelField,
			& [data-field="race"],
			& [data-field="attributes"] {
				align-items: center;

				input, select {
					flex: 1;
				}
			}

			& [data-field="profilephoto"] {
				grid-column: 1;
				grid-row: 1;

				position: relative;
				min-height: 300px;
				border-radius: var(--radius-standard);
				overflow: hidden;

				img {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 50%;
				}
			}

			[data-field="points"],
			[data-field="attributes"] {
				display: flex;
				gap: calc(0.5 * var(--padding-standard));

				.labelField {
					align-items: center;
				}

				.labelField:nth-child(2) label {
					text-align: right;
				}
			}

			[data-field="stats"] {
				flex-wrap: wrap;

				.statsFlex {
					display: flex;
					gap: calc(0.5 * var(--padding-standard));
					width: 100%;
				}

				.statList {
					--grid-template-columns: 1fr 1fr 1fr;

					@media (min-width: 1300px) {
						--grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
					}

					display: grid;
					grid-template-columns: var(--grid-template-columns);
					flex-wrap: wrap;
					gap: calc(0.5 * var(--padding-standard));

					.stat {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: calc(0.5 * var(--padding-standard));
						padding: calc(0.5 * var(--padding-standard));
						border-radius: var(--radius-standard);
						background-color: rgba(var(--colour-cream), 0.3);

						img {
							height: 25px;
						}
					}
				}

				.confirmButton {
					flex-basis: 100%;
				}
			}

			[data-field="racial_bonuses"],
			[data-field="known_languages"] {
				display: flex;
				flex-direction: column;
				box-sizing: border-box;

				label {
					display: flex;
					white-space: nowrap;
					gap: var(--padding-half);
					width: 100%;
				}
			}
		}

		.sectionWellness {
			display: grid;
			gap: calc(0.5 * var(--padding-standard));
			background-color: rgba(var(--colour-scarlet), 0.15);

			[data-field="verve"],
			[data-field="mana"],
			[data-field="psi"],
			[data-field="statuses"],
			[data-field="item_belt"] {
				display: flex;
				flex-wrap: wrap;
				gap: calc(0.5 * var(--padding-standard));

				h2 {
					margin-bottom: 0;
				}

				.maxLabel {
					font-size: 0.9rem;
					font-style: italic;
					color: #999;
				}
			}

			[data-field="verve"],
			[data-field="mana"],
			[data-field="psi"] {
				display: flex;
				flex-direction: column;
				gap: var(--padding-half);

				h2 {
					grid-column: 1 / 3;
				}

				.resourceFields {
					display: flex;
					gap: var(--padding-half);

					& > * { max-width: 100px; }
				}
			}
			
			@media (min-width: 850px) {
				[data-field="verve"] {
					grid-column: 1;
					grid-row: 1;
				}

				[data-field="mana"] {
					grid-column: 1;
					grid-row: 2;
				}

				[data-field="psi"] {
					grid-column: 1;
					grid-row: 3;
				}

				[data-field="statuses"] {
					grid-column: 2;
					grid-row: 1/3;
				}

				[data-field="item_belt"] {
					grid-column: 2;
					grid-row: 3;
				}

				[data-field="skill_preparedness"] {
					grid-column: 1/3;
					grid-row: 4;
				}
			}
		}
		
		.sectionCombat {
			display: flex;
			flex-direction: column;
			gap: var(--padding-half);
			background-color: rgba(var(--colour-dark), 0.15);

			[data-field="resistances"] {
				display: flex;
				flex-direction: column;

				.addResistance {
					display: flex;
					gap: var(--padding-half);
					align-items: flex-end;
					margin-bottom: var(--padding-standard);
				}

				.resistanceList {
					.activeResistance {
						display: flex;
						gap: var(--padding-half);
						align-items: flex-end;
					}
				}
			}

			.combatMetaLayout {
				.weaponFields,
				.armourFields {
					display: grid;
					gap: var(--padding-half);
				}

				.weaponFields {
					grid-template-columns: 115px 75px 50px 50px auto;
				}

				.armourFields {
					grid-template-columns: 115px 75px auto;
				}
			}

			h2 img {
				height: 20px;
				vertical-align: middle;
				margin-right: 6px;
			}

			.combatSkillsLayout {
				grid-row: 2;
				grid-column: 1 / 3;
			}
		}

		.sectionGeneral {
			background-color: rgba(var(--colour-mustard), 0.15);
		}

		.sectionSubterfuge {
			background-color: rgba(var(--colour-dark), 0.15);
		}

		.sectionCrafting {
			background-color: rgba(var(--colour-scarlet), 0.15);
		}

		.sectionBeastMastery {
			background-color: rgba(var(--colour-green), 0.15);
		}

		.sectionInnerPower {
			background-color: rgba(var(--colour-cobalt), 0.15);
		}

		.sectionMagic {
			background-color: rgba(var(--colour-scarlet), 0.15);
		}

		.sectionPsionics {
			background-color: rgba(var(--colour-purple), 0.15);
		}

		.sectionInventory,
		.sectionNotes {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: var(--padding-half);

			textarea {
				width: 100%;
				min-height: 420px;
			}
		}
	}

}