.characterCombatPageContainer {
	width: 100%;
	max-width: var(--max-width-character-sheet-page);
	margin: auto;

	.sectionVitae {
		
	}

	.grid {
		--grid-template-columns: 1fr;

		@media (min-width: 768px) {
			--grid-template-columns: 1fr 1fr;
		}

		display: grid;
		grid-template-columns: var(--grid-template-columns);
		gap: var(--padding-1-4);
	}
}