.characterCombatPageContainer {
	width: 100%;
	max-width: var(--max-width-character-sheet-page);
	margin: auto;		

	.sectionVitae {
		background-color: rgba(var(--colour-scarlet), 0.15);
	}

	.sectionCombat {
		background-color: rgba(var(--colour-cobalt), 0.15);
	}
	
	.sectionSpellsAndPowers {
		background-color: rgba(var(--colour-scarlet), 0.15);
	}

	.sectionSkills {
		background-color: rgba(var(--colour-dark), 0.15);

		.skillsList {
			gap: var(--padding-standard);
		}
	}

	.grid {
		--grid-template-columns: 1fr;

		@media (min-width: 768px) {
			--grid-template-columns: 1fr 1fr;
		}

		display: grid;
		grid-template-columns: var(--grid-template-columns);
		gap: var(--padding-1-4);
	}

	.flex {
		display: flex;
		gap: var(--padding-1-4);

		&.flexColumn {
			flex-direction: column;
		}
	}
}