:root {
	--padding-standard: 10px;
	--padding-1-4: calc(0.25 * var(--padding-standard));
	--padding-half: calc(0.5 * var(--padding-standard));
	--padding-3-4: calc(0.75 * var(--padding-standard));
	--radius-standard: 10px;
	--purchase-point-size: 10px;
	--font-size-standard: 0.95rem;
	--font-size-h1: 1.75rem;
	--font-size-h2: 1.25rem;
	--font-size-h3: 1.1rem;
	--bevel-size: 7px;
	--text-shadow-standard: 2px 2px 5px rgba(0, 0, 0, 0.9);
	--box-shadow-standard: 5px 5px 4px rgba(0, 0, 0, 0.1);
	--inputs-height: 40px;
	--max-width-content-page: 1000px;
	--max-width-character-sheet-page: 1500px;
	--border-dashed-subtle: 1px dashed #e8e8e8;
	--border-dashed-strong: 1px dashed #aaa;

	@media (min-width: 769px) {
		--padding-standard: 15px;
		--font-size-standard: 0.95rem;
		--purchase-point-size: 13px;
	}

	/* Colour Palette */
	--colour-cream: 240, 233, 217;
	--colour-cream-light: 251, 250, 247;
	--colour-dark: 51, 51, 51;
	--colour-orange: 177, 110, 11;
	--colour-purple: 71, 30, 185;
	--colour-purple-light: 145, 148, 180;
	--colour-cobalt: 0, 71, 171;
	--colour-cyan: 11, 177, 140;
	--colour-scarlet: 177, 11, 91;
	--colour-aqua: 0, 243, 150;
	--colour-mustard: 130, 177, 11;
	--colour-yellow: 214, 179, 0;
	--colour-green: 114, 124, 93;
	--colour-black: 0, 0, 0;
	--colour-silver: 210, 210, 210;
	--colour-bronze: 210, 151, 105;
	--colour-bronze-gradient: linear-gradient(142deg, rgba(241,200,169,1) 0%, rgba(212,154,109,1) 20%, rgba(210,151,105,1) 60%, rgba(240,213,192,1) 75%, rgba(210,151,105,1) 86%);
	--colour-silver-gradient: linear-gradient(-72deg,
			#dedede,
			#ffffff 16%,
			#dedede 21%,
			#ffffff 24%,
			#dedede 36%,
			#ffffff 45%,
			#ffffff 60%,
			#dedede 72%,
			#ffffff 80%,
			#dedede 84%,
			#cccccc);
	--colour-silver-gradient-subtle: linear-gradient(-72deg,
			#898989,
			#aaaaaa 16%,
			#ffffff 21%,
			#898989 24%,
			#898989 36%,
			#aaaaaa 45%,
			#aaaaaa 60%,
			#aaaaaa 80%,
			#898989 84%,
			#ffffff);
	--colour-gold-gradient: linear-gradient(-72deg,
			#FFD062,
			#FFE9B4 16%,
			#ffffff 21%,
			#FFD062 24%,
			#FFD062 36%,
			#FFD062 60%,
			#FFE9B4 80%,
			#FFD062 84%,
			#ffffff);
	--colour-gold-abstrate-gradient: linear-gradient(-72deg,
			#FB672E,
			#FF9C3D 16%,
			#FFE9B4 21%,
			#FF9C3D 60%,
			#FB672E 84%,
			#FB672E);

	--shape-bevelled: polygon(0 var(--bevel-size),
			calc(var(--bevel-size) / 2) var(--bevel-size),
			var(--bevel-size) calc(var(--bevel-size) / 2),
			var(--bevel-size) 0px,
			calc(100% - var(--bevel-size)) 0,
			calc(100% - var(--bevel-size)) calc(var(--bevel-size) / 2),
			calc(100% - var(--bevel-size) / 2) var(--bevel-size),
			100% var(--bevel-size),
			100% calc(100% - var(--bevel-size)),
			calc(100% - var(--bevel-size) / 2) calc(100% - var(--bevel-size)),
			calc(100% - var(--bevel-size)) calc(100% - var(--bevel-size) / 2),
			calc(100% - var(--bevel-size)) 100%,
			var(--bevel-size) 100%,
			var(--bevel-size) calc(100% - var(--bevel-size) / 2),
			calc(var(--bevel-size) / 2) calc(100% - var(--bevel-size)),
			0 calc(100% - var(--bevel-size)),
			0 100%);
}

@font-face {
	font-family: "trattatello";
	src: url("/fonts/trattatello/trattatello.woff2") format("woff2"), url("/fonts/trattatello/trattatello.woff") format("woff");
}

@media screen {
	.forPrint {
		display: none;
	}
	.notForPrint {
		display: block;
	}
}

@media print {
	@page { margin: 0.5cm; }

	.forPrint {
		display: block;
	}

	.notForPrint {
		display: none;
	}

	body {
		padding: 0;
		margin: 0;
		background: transparent;
	}

	h2 {
		position: absolute;
		top: 0;
		right: 0;
		line-height: 100%;
	}

	.printHeader,
	.printTitle,
	.printFooter {
		display: none;
	}
}

/* Alchemy Colours */
.hyd {
	background-color: #3c78d8;
}

.for {
	background-color: #888;
}

.the {
	background-color: #e69138;
}

.vig {
	background-color: #6aa84f;
}

.soo {
	background-color: #a64d79;
}

.exc {
	background-color: #f1c232;
}

.con {
	background-color: #674ea7;
}

.cor {
	background-color: #b6d7a8;
}

.poi {
	background-color: #cc0000;
}

.oil {
	background-color: #111;
}

.sce {
	background-color: #e2a2de;
}

.wil {
	background-color: #000;
}

.mag {
	background-color: rgb(var(--colour-purple));
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
	font-size: var(--font-size-standard);
	color: rgb(var(--colour-dark));
	background-image: url('/images/bg.paper.texture.webp');
}

body {
	overflow-x: hidden;
}

h1, h2, h3, h4 {
	font-family: trattatello, sans-serif;
	text-transform: uppercase;
	line-height: 100%;

	&:first-child {
		margin-top: 0;
	}
}

.trattatello {
	font-family: trattatello, sans-serif;
	text-transform: uppercase;
	line-height: 100%;
}

.trattatellodown {
	font-family: trattatello, sans-serif;
	line-height: 100%;
}

h1 {
	font-size: var(--font-size-h1);
}
h2 {
	font-size: var(--font-size-h2);
}
h3 {
	font-size: var(--font-size-h3);
}

section {
	&:after {
		content: "";
		display: block;
		margin: calc(2 * var(--padding-standard)) 0;
		width: 100%;
    	height: 14px;
		background-image: url('/images/gr.charactersheet.border.svg');
    	opacity: .075;
	}
}

p:first-child {
	margin-top: 0;
}

input, select, textarea {
	height: var(--inputs-height);
	line-height: var(--inputs-height);
	padding: 0 calc(0.5 * var(--padding-standard));
	border: 2px solid rgb(var(--colour-cream));
	border-radius: calc(0.75 * var(--radius-standard));
	box-sizing: border-box;
	background-color: rgba(var(--colour-cream), 0.3);

	&:disabled {
		color: #999;
		user-select: none;
		border: 2px solid rgba(var(--colour-cream), 0.25);
	}
}

select {
	text-transform: capitalize;
}

textarea {
	height: auto;
	line-height: 125%;
}

button {
	height: var(--inputs-height);
	line-height: var(--inputs-height);
	padding: 0 calc(0.5 * var(--padding-standard));
	outline: none;
	border: none;
	border-radius: calc(0.75 * var(--radius-standard));
	background-color: rgb(var(--colour-cream));
	cursor: pointer;
	color: #000;
	transition: all 0.25s;
	
	&:hover {
		background-color: color-mix(in srgb, rgb(var(--colour-cream)) 100%, #fff 50%);
		box-shadow: var(--box-shadow-standard);
	}
}