.signingForm {
	display: flex;
	flex-direction: column;
	gap: calc(2 * var(--padding-standard));

	& .form {
		display: flex;
		flex-direction: column;
		gap: calc(0.5 * var(--padding-standard));
		max-width: min(100%, 375px);
	}

	& .heading {
		font-size: 1.5rem;
	}
}

.error {
	color: red;
}